/*----------------------------------------------*\
    Container
\*----------------------------------------------*/

.wrapper {
  position: relative;
  padding: 0 $base-spacing-unit;
  width: 100%;
  transition: transform 0.4s;
}

.container {
  padding: 0;
  display: flex;
  flex-flow: row;
  @include wider-than($width--tablet-portrait) {
    padding: 0 $base-spacing-unit;
  }
}

/*----------------------------------------------*\
    Layout
\*----------------------------------------------*/

header,
footer {
  display: block;
}

.tbi-content  {
	width: 85%;
  flex: 1 6 80%;
}

.tbi-nav-menu {
  position: fixed;
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}


/*----------------------------------------------*\
    Grid
\*----------------------------------------------*/

/**
 * e.g.
 * <div class="grid">
 *     <div class="cell cell-6-12">
 *         <p>.cell-6-12</p>
 *     </div>
 *     <div class="cell cell-6-12">
 *         <p>.cell-6-12</p>
 *     </div>
 * </div>
 */

.grid {
    @include clearfix;
    margin-left: (-$base-spacing-unit*1.25);
}
