.rule {
	overflow: hidden;
	display: flex;
	flex-flow: row;
	padding: 1em;
	margin: 1em 0;
	border-bottom: 1px solid #DEDEDE;
	background: $color--primary-gray;
	pre {
		background: #FFF;
		margin: 1em;
	}
}

.rule-header {
	width: 40%;
  flex: 1 6 40%;
	flex-shrink: 0;
	padding: 0 1em;
	margin: 0;
}

.rule-body {
	width: 60%;
  flex: 1 6 60%;
	flex-shrink: 0;
	padding: 0 1em;
}
