.rule {
	overflow: hidden;
	display: flex;
	flex-flow: row;
	padding: 1em;
	margin: 1em 0;
	border-bottom: 1px solid #DEDEDE;
	background: $color--primary-gray;
	pre {
		background: #FFF;
		margin: 1em;
	}
}

.rule-header {
	width: 30%;
  flex: 1 6 30%;
	padding: 0 1em;
	margin: 0;
	h3 {
		font-size: $h3-font-size
	}
}

.rule-body {
	width: 70%;
  flex: 1 6 70%;
	padding: 0 1em;
	ul {
		margin: 0 0 2em 2em;
	}
}
