.tbi-site-title {
  font-size: $h1-font-size;
  font-weight: $font-weight-light;
}
.tbi-section {
  font-size: $h1-font-size;
  font-weight: $font-weight-bold;
}
.tbi-footer-heading {
  font-size: $h4-font-size;
  font-weight: $font-weight-light;
  text-align: center;
}
