			<footer>
				<h3 class="tbi-footer-heading">Think Brownstone Development</h3>
			</footer>
		</div>
		<script src="assets/javascript/jquery-2.2.3.min.js"></script>
		<script src="assets/javascript/main.js"></script>
		<script src="assets/javascript/prism.js"></script>
  </body>
</html>
