			<footer>
				<h3>Footer</h3>
			</footer>
		</div>
		<script src="assets/javascript/jquery-2.2.3.min.js"></script>
		<script src="assets/javascript/main.js"></script>
		<script src="assets/javascript/prism.js"></script>
  </body>
</html>
